@model WebAppCleanArch.Domain.Entities.Course

@{
    ViewData["Title"] = "Detail Mata Kuliah";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CourseName)</dt>
            <dd class="col-sm-9">@Model.CourseName</dd>

            <dt class="col-sm-3">Student</dt>
            <dd class="col-sm-9">@Model.Student?.Name</dd>

            <dt class="col-sm-3">ID Student</dt>
            <dd class="col-sm-9">@Model.StudentId</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Kembali</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Hapus</a>
    </div>
</div>